# Euro Choice Configuration
PORT=5000
NODE_ENV=development
MONGO_URI=mongodb://127.0.0.1:27017/euro_choice
JWT_ACCESS_SECRET=eurochoice_super_secret_access_key_2026_jwt
JWT_REFRESH_SECRET=eurochoice_super_secret_refresh_key_2026_jwt
CORS_ORIGIN=http://localhost:5173
EXPIRATION_CRON_SCHEDULE="*/15 * * * *"
